most-of/chain.out.gz filter=lfs diff=lfs merge=lfs -text
most-of/chain.slog.gz filter=lfs diff=lfs merge=lfs -text
data/ag-cosmos-chain-state filter=lfs diff=lfs merge=lfs -text
data/chain.out.gz filter=lfs diff=lfs merge=lfs -text
data/chain.slog.gz filter=lfs diff=lfs merge=lfs -text
data/dot-ag-chain-cosmos.tar.bz2 filter=lfs diff=lfs merge=lfs -text
data/ag-cosmos-chain-state/data.mdb.gz filter=lfs diff=lfs merge=lfs -text
data/ag-cosmos-chain-state/lock.mdb filter=lfs diff=lfs merge=lfs -text
